{{ define "main" }}
<div id="garage-home">
<div id="intro">
	<h1>{{ .Title }}</h1>
	{{ .Content }}
</div>
<div id="benefits">
	<div>
		<h2><i class="fa fa-wrench"></i>Log Maintenance</h2>
		<p>Track motorcycle maintenance whether you do the work yourself or you take it to the shop.</p>
	</div>
	<div>
		<h2><i class="fa fa-cloud-upload"></i>Access Anywhere</h2>
		<p>Access your digital garage from anywhere: your phone, laptop, tablet, etc.</p>
	</div>
	<div>
		<h2><img src="/icons/garage.png">Private Beta</h2>
		<p><a href="/garage/beta">Request access</a> and we’ll contact you when the app enters beta.</p>
	</div>
</div>
</div>
{{ end }}
