{{ define "main" }}
<div id="garage-home">
<div id="intro">
	<h1>R/M Garage</h1>
	<p>I'm building an app to manage your motorcycles at home - maintenance and all.</p>
</div>
<div id="benefits">
	<div>
		<h2><i class="fa fa-wrench"></i>Log Maintenance</h2>
		<p>Track motorcycle maintenance whether you do the work yourself or you take it to the shop.</p>
	</div>
	<div>
		<h2><i class="fa fa-cloud-upload"></i>Access Anywhere</h2>
		<p>Access your digital garage from anywhere: your phone, laptop, tablet, etc.</p>
	</div>
	<div>
		<h2><i class="fa fa-paper-plane"></i>Get Notified</h2>
		<p><a href="/newsletter">Sign up</a> and we’ll contact you when the app enters beta.</p>
	</div>
</div>
</div>
{{ end }}
