//-----------------------------------------------------------------------------
// Colors
//-----------------------------------------------------------------------------
$ra-blue: #0d86ff;
$ram-red: #a92b37;
$ram-black: #161616;
$ram-white: #EFEFEF;
$ram-grey: #ADB5BD;

$bg-color: #2b2c2d;

$primary-color: $ram-red;
$on-primary-color: $ram-white;
$secondary-color: #cb1a20;
$tertiary-color: #27A0B6;
